matplotlib==3.6.3
jupyterlab==3.5.3
scipy==1.10.0
scikit-learn==1.2.1
scikit-image==0.19.3
pandas==1.5.3
pydot==1.4.2
ipywidgets==8.0.4
tensorflow==2.19.0
tensorboard==2.19.0
tensorflow_probability==0.18.0